
html {
  width: 100%;
  height: 100%;
}

body {
  font: 14px helvetica neue, helvetica, liberation sans, arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#cy {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
